html,
body,
#root {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.cursornotallowed {
  cursor: not-allowed;
}
